<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.cloudmanet.mapper.PermissionMapper">

    <update id="updateNodeInfo">
        update  datacenter.NodeInfo
        <trim prefix="set" suffixOverrides=",">
            <if test="loginTime!=null">loginTime=#{loginTime},</if>
            <if test="loginIp!=null">loginIp=#{loginIp},</if>
            <if test="loginPosition!=null">loginPosition=#{loginPosition},</if>
        </trim>
        where id=#{id}
    </update>
    <delete id="deleteUsersByid">
        delete FROM datacenter.NodeInfo where id=#{id}
    </delete>

    <select id="authenticate" parameterType="hashmap" resultType="com.yang.cloudmanet.entity.NodeInfo" >
        select *
        from datacenter.NodeInfo
        <where>
            1=1
            <if test="username !=null and password!=null">
                and username=#{username} and password=#{password}
            </if>
        </where>
    </select>


    <select id="pageQueryUserData" parameterType="com.yang.cloudmanet.utils.Page" resultType="hashmap">
        select * from datacenter.NodeInfo
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
                ,IFNULL(gender,'')
                ,IFNULL(loginPosition,'')
                )
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
        limit #{start},#{rows}
    </select>
    <select id="pageQueryUserCount"  parameterType="com.yang.cloudmanet.utils.Page" resultType="int">
        select count(*) from datacenter.NodeInfo
        <where>
            1=1
            <if test="keyWord !=null">
                and   concat(
                IFNULL(username,'')
                ,IFNULL(gender,'')
                ,IFNULL(loginPosition,'')
                )
                like concat('%', #{keyWord}, '%')
            </if>
        </where>
    </select>
</mapper>
